{% extends "master_page.html" %}

{% block title %}
User Profile
{{ block.super }}
{% endblock %}

{% block content %}
{% include 'user_profile_navbar.html' %}

<!-- check if there is a notification message -->
{% if messages %}
<b class="messages">
    {% for msg in messages %}

        <div class="alert alert-{{msg.level_tag}}" role="alert">
            {{msg.message}}
            <a href="/user_profile" class="glyphicon glyphicon-remove"></a>

        </div>

    {% endfor %}
</b>
{% endif %}

<div class="container">
    {% include 'username.html' %}

</div>

{% endblock %}