{% extends "master_page.html" %}

{% block title %}
Papers List
{{ block.super }}
{% endblock %}

{% block content %}
{% include 'user_profile_navbar.html' %}


<div class="container">
    <div class="row" style="padding:10px">
        <span style="color:red;">{{ error }}</span>


        <table class="table table-striped">
            <tr class="info">
                <td><b>PCM Name</b></td>
                <td><b>Assign</b></td>
            </tr>
            {% if pcms_list %}
            {% for pcm1 in pcms_list %}
            {% with pcm1.0 as pcm%}
                <tr>
                <td>{%if pcm1.1 %}{{ pcm.first_name }} {{ pcm.last_name }} <span style="font-weight: bold;">(Requested Assignment)</span>{%else%}{{ pcm.first_name }} {{ pcm.last_name }}{%endif%}</td>
                <td>
                    <a href="/user_profile/paper_list/assign_pcm/{{ paper_id }}/{{ pcm.id }}" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span> Assign
            </a> </td>
            </tr>
            {% endwith%}
            {% endfor %}
        </table>
        <div class="panel-footer">

            <a href="/user_profile">Cancel</a>


        </div>

        <tr>
            {% else %}
            <td>
                <h4>No PCMs available in the system</h4>
            </td>
        </tr>
        {% endif %}

    </div>
</div>
{% endblock %}