{% extends "master_page.html" %}

{% block title %}
Papers List
{{ block.super }}
{% endblock %}

{% block content %}
{% include 'user_profile_navbar.html' %}


<div class="container">
    <div class="row" style="padding:10px">
        <span style="color:red;">{{ error }}</span>


        <table class="table table-striped">
            <tr class="info">
                {% if user_type == 'Author' %}
                <td><b>Paper</b></td>
                <td><b>Title</b></td>
                <td><b>Authors</b></td>
                <td><b>Revision Paper</b></td>
                <td><b>Format</b></td>
                <td><b>Submitter</b></td>
                  <td><b>Updating</b></td>
                {% elif user_type == 'PCC' %}
                <td><b>Paper</b></td>
                <td><b>Title</b></td>
                <td><b>Authors</b></td>
                <td><b>Revision Paper</b></td>
                <td><b>Format</b></td>
                <td><b>Submitter</b></td>
                <td><b>Action</b></td>
                {% else %}
                <td><b>Title</b></td>
                <td><b>Authors</b></td>
                <td><b>Action</b></td>
                {% endif %}

            </tr>
            {% if papers_queryset %}
            {% for instance in papers_queryset %}
            <tr>
                {% if user_type == 'Author' %}
                <td><a href="/user_profile/paper_list/download/{{ instance.paper.paper }}"> {{ instance.paper.paper }}</a> </td>
                <td>{{ instance.paper.title }}</td>
                <td>{{ instance.paper.authors_list }}</td>
                <td>
                     {% if instance.paper.revision_paper  %}
      <b>Yes</b>
                    {% else %}
        <b>no</b>
        {% endif %}

                   </td>
                <td>{{ instance.paper.paper_format }}</td>
                <td>{{ instance.submitter }}</td>
                <td><a href="/user_profile/paper_updating/{{instance.paper.id }}" class="btn btn-primary btn-sm btn-block">Update</a> </td>
                {% elif user_type == 'PCC' %}
                <td><a href="/user_profile/paper_list/download/{{ instance.paper.paper }}"> {{ instance.paper.paper }}</a> </td>
                <td>{{ instance.paper.title }}</td>
                <td>{{ instance.paper.authors_list }}</td>
                <td>{{ instance.paper.revision_paper }}</td>
                <td>{{ instance.paper.paper_format }}</td>
                <td>{{ instance.submitter }}</td>
                <td><a href="/user_profile/paper_list/assign_pcm/{{ instance.id }}" class="btn btn-primary btn-sm btn-block">Assign</a> <br></td>

                {% else %}
                <td>{{ instance.paper.title }}</td>
                <td>{{ instance.paper.authors_list }}</td>
                <td><button class="btn btn-primary btn-sm btn-block">Choose</button> <br></td>

                {% endif %}

            </tr>
            {% endfor %}
        </table>
        {% else %}
        <tr>
            <td>
                <h4>No paper to list...</h4>
            </td>
        </tr>
        {% endif %}


    </div>
</div>
{% endblock %}