{% extends "master_page.html" %}

{% block title %}
Paper List
{{ block.super }}
{% endblock %}

{% block content %}
{% include 'user_profile_navbar.html' %}


<div class="container">
    <div class="row" style="padding:10px">
        <span style="color:red;">{{ error }}</span>

<h3>Generate Report</h3>
        <table class="table table-striped">
            <tr class="info">
                <td><b>PCM name</b></td>
                <td><b>Review Description</b></td>
                <td><b>Rate</b></td>
            </tr>

            {% if review %}
            {% for instance in review %}
                <td>{{ instance.reviewer.first_name}}</td>

            {% if instance.description == '' %}
             <td>PCM has not rated the paper yet</td>
            {% else %}
            <td>{{ instance.description}}</td>
            {%endif%}
            {%if instance.rating == 0%}
            <td>PCM has not rated the paper yet</td>
            {%else%}
                <td>{{ instance.rating}}</td>
            {% endif %}
            </tr>
             {% endfor %}


        </table>

        {% else %}
        <tr>
            <td>
                <h4>No paper to list...</h4>
            </td>
        </tr>
        {% endif %}


    </div>
</div>
{% endblock %}