{% extends "master_page.html" %}

{% block title %}
Paper List
{{ block.super }}
{% endblock %}

{% block content %}
{% include 'user_profile_navbar.html' %}


<div class="container">
    <div class="row" style="padding:10px">
        <span style="color:red;">{{ error }}</span>
<h3>Generate Report</h3>

        <table class="table table-striped">
            <tr class="info">
                <td><b>Paper title</b></td>
                <td><b>Action</b></td>
            </tr>

            {% if all_submission %}
            {% for instance in all_submission %}
                <td> sdfsdf {{ instance.paper.title}}</td>
            <td> <a href="/user_profile/pcc_generate_report/{{ instance.paper.id }}">Generate Report</a></td>

            </tr>
             {% endfor %}


        </table>
        {% else %}
        <tr>
            <td>
                <h4>No paper to list...</h4>
            </td>
        </tr>
        {% endif %}


    </div>
</div>
{% endblock %}