{% extends "master_page.html" %}

{% block title %}
Register
{{ block.super }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Become a new user <br><br> <small>Register</small></h1>
        <span style="color:red">{{ error }}</span>
        <div class="row">
                <div class="col-sm-6">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form_user_personal_information.as_p }}
                        <input type="submit" value="register" class="btn btn-primary">
                        <a href="/">Go back to login</a>
                    </form>
                </div>
        </div>
    </div>
{% endblock %}
