<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
             </button>
             <a class="navbar-brand" href="/user_profile"><span style="color:blue"></span><p1> SAM2017 </p1><soan style="color:blue"></soan></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/user_profile/user_information">Manage Account</a></li>
                <li><a href="">Paper Submission</a></li>
                <li><a href="/user_profile/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>